<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= "#{@name}" %>!</h1>
    <p>Merci pour ton message, nous reviendrons vers toi si besoin</p>
</br></br>
<h4>La team</h4>
  </body>
</html>